<<<<<<< HEAD
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
.topo {
    display: flex;
    padding: 0;
    height:100px;
    width:100%;
    background-color:rgba(32, 36, 39, 0.89)
}

.txtBusca{
    position: absolute;
    width: 50%;
    height: 28px;
    left: 330px;
    top: 30px;
    border-radius: 7px;
    background: url(foto/Lupa-de-pesquisa.png) center right no-repeat;
    background-color: white;
}

.image-logo{
    position: absolute;
    width: 300px;
    border:0;
    top: -30px;
    right: 940px;
    left: 0%;
}

.rodape{
    float: left;
}

#menu{
    text-decoration:none;
    margin: 20px 10px 0px;
    text-transform: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif ;
}
.bem-vindo{
    background: url(foto/Controle_Azul1.jpg) center no-repeat;
    width: 100%;
    height: 450px;
    padding: 140px;
    color:#fff;
    text-align: center;
    font-weight:bold ;
    font-family: Arial, Helvetica, sans-serif;
}

#menu .jogos{
    position: absolute;
    text-decoration:none;
    color: white;
    right: 70%;
    top: 70px;
}

#menu .consoles{
    position: absolute;
    text-decoration:none;
    color: white;
    right: 61%;
    top: 70px;
}

#menu .promocoes{
    position: absolute;
    text-decoration:none;
    color: white;
    right: 51%;
    top: 70px;
}

#menu .carrinho{
    position: absolute;
    color: white;
    width: 18px;
    height: 18px;
    right: 17%;
    top: 34px;
}
#menu .conta{
    position: absolute;
    text-decoration:none;
    color: white;
    text-transform: none;
    right: 8%;
    top: 33px;
}
#menu .cadeira{
    position: absolute;
    text-decoration:none;
    width: 0%;
    color: white;
    right: 48%;
    top: 70px;
}
#menu .destaque{
    position: absolute;
    text-decoration:none;
    width: 0%;
    color: white;
    right: 40%;
    top: 70px;
}
.login{
    position: absolute;
    color: white;
    right: 5%;
    top: 34px;
}

.d-block{
    width: 100%;
    height: 400px;
}

#rodape {
    position: absolute;
    width: 100%;
    height: 130px;
    margin-top: 50%;
    background-color:#C1C1C1;

}
.rua{
    position: absolute;
    top: 30%;
    left: 10%;
}
.estado{
    position: absolute;
    top: 45%;
    left: 10%;
}
.cep{
    position: absolute;
    top: 60%;
    left: 10%;
}
#rodape .redes-sociais{
    position: absolute;
    top: 44%;
    right: 20%;
    text-transform: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif ;
}
#rodape .facebook{
    position: absolute;
    height: 30px;
    top: 70%;
    right: 30%;
}
#rodape .whatsapp{
    position: absolute;
    height: 30px;
    top: 70%;
    right: 26%;
}
#rodape .instagram{
    position: absolute;
    height: 30px;
    top: 70%;
    right: 22%;
}
=======

>>>>>>> fdd01cae640dd4d460fae0a3814b478f4b2f09e8
